---
layout: layouts/base.njk
title: Page not found
permalink: /404.html
eleventyExcludeFromCollections: true
---
{#- Task 7 adds the "POINT OF ORDER" placard. -#}
<section class="stub stub--centre">
  <div class="container">
    <h1 class="t-page">Page not found</h1>
    <p class="stub__note t-body">This page doesn't exist. <a class="t-teal" href="/">Go to the homepage</a> or <a class="t-teal" href="/committees/">see the committees</a>.</p>
  </div>
</section>
