---
layout: layouts/base.njk
title: New to MUN?
permalink: /new-to-mun/
---
<section class="stub ">
  <div class="container">
    <h1 class="t-page">New to MUN?</h1>
    <p class="stub__note t-body">This page is being built. Content TBC.</p>
  </div>
</section>
